# Python Basics 

---

## Strings  
Strings are sequences of characters enclosed in single (`'`), double (`"`) or triple quotes (`'''` or `"""`).  
They are used to store text data.

In [1]:
# Creating strings
single_quotes = 'Hello'
double_quotes = "World"
multiline_string = """This is
a multi-line
string."""
print(single_quotes, double_quotes, multiline_string)

Hello World This is
a multi-line
string.

## Escape Sequences
Escape sequences allow special characters to be included in strings, such as newlines (`\n`) or tabs (`\t`).

In [2]:
newline = "Hello\nWorld"
tabbed = "Hello\tWorld"
quote = "He said, \"Python is awesome!\""
print(newline)
print(tabbed)
print(quote)

Hello
World
Hello	World
He said, "Python is awesome!"

## Formatted Strings  
Formatted strings (f-strings) let you insert variables or expressions directly inside string literals using `{}`.

In [3]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.

## String Methods  
String methods are built-in functions that perform operations on strings, such as case changes, trimming, and searching.

In [4]:
text = "   Python is Fun!   "
print(text.lower())
print(text.upper())
print(text.strip())
print(text.replace("Fun", "Awesome"))
print("Python" in text)

   python is fun!
   PYTHON IS FUN!
Python is Fun!
   Python is Awesome!
True

## Numbers  
Python supports integers, floating-point numbers, and complex numbers.

In [5]:
integer = 10
floating = 3.14
complex_number = 2 + 3j
print(type(integer), type(floating), type(complex_number))

<class 'int'> <class 'float'> <class 'complex'>

## Working With Numbers  
Basic arithmetic operations can be performed using standard mathematical operators.

In [6]:
print(5 + 2)    # addition
print(5 - 2)    # subtraction
print(5 * 2)    # multiplication
print(5 / 2)    # division
print(5 // 2)   # floor division
print(5 % 2)    # modulo
print(5 ** 2)   # exponent

7
3
10
2.5
2
1
25

## Type Conversion  
You can convert between types using functions like `int()`, `float()`, and `str()`.

In [7]:
x = "42"
y = int(x)
z = float(x)
print(y, z)

42 42.0

## Comparison Operators  
Comparison operators are used to compare values and return `True` or `False`.

In [8]:
print(5 == 5)
print(5 != 3)
print(5 > 3)
print(5 <= 3)

True
True
True
False

## Conditional Statements  
Conditional statements (`if`, `elif`, `else`) allow code to run based on conditions.

In [9]:
age = 18
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

## Ternary Operator  
The ternary operator allows writing simple `if-else` logic in a single line.

In [10]:
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)

Adult

## Logical Operators  
Logical operators (`and`, `or`, `not`) combine or modify boolean expressions.

In [11]:
print(True and False)
print(True or False)
print(not True)

False
True
False

## Short-circuit Evaluations  
Python stops evaluating logical expressions as soon as the result is determined.

In [12]:
def check():
    print("Function called")
    return True

print(False and check())  # won't call check()
print(True or check())    # won't call check()

False
True

## Chaining Comparison Operators  
You can chain multiple comparisons for cleaner expressions.

In [13]:
x = 5
print(1 < x < 10)  # equivalent to (1 < x) and (x < 10)

True

## For Loops  
For loops iterate over sequences like lists, strings, or ranges.

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

## For..Else  
The `else` block in a loop executes if the loop completes without hitting a `break`.

In [15]:
for i in range(5):
    if i == 10:
        print("Found 3")
        break
else:
    print("Loop completed without break")

Loop completed without break

## Nested Loops  
You can place loops inside other loops to work with multi-level data.

In [16]:
for i in range(2):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

## Iterables  
An iterable is any Python object capable of returning its members one at a time.

In [17]:
my_list = [1, 2, 3]
for item in my_list:
    print(item)

iterator = iter(my_list)
print(next(iterator)) # note the usage of `next`

1
2
3
1

## While Loops  
While loops repeat as long as a condition is `True`.

In [18]:
count = 0
while count < 3:
    print(count)
    count += 1

0
1
2

## Infinite Loops  
A loop that runs forever unless stopped manually or via `break`.

In [19]:
# Uncomment to run: NOTE THAT THIS LOOP RUNS FOREVER (YOU'LL NEED TO DO Ctrl-C TO STOP IT!!)
# while True:
#     print("This Boot camp is FUN!")

## Defining Functions  
Functions group reusable code into named blocks.

In [20]:
def greet():
    print("Hello!")
greet()

Hello!

## Arguments  
Functions can accept parameters (arguments) to customize their behavior.

In [21]:
def greet(name):
    print(f"Hello, {name}!")
greet("Alice")

Hello, Alice!

## Types of Functions  
Functions can return values or simply perform actions.

In [22]:
def add(a, b):
    return a + b

def show_sum(a, b):
    print(a + b)

print(add(2, 3))
show_sum(2, 3)

5
5

## Keyword Arguments  
Arguments can be passed by name, making order irrelevant.

In [23]:
def greet(first_name, last_name):
    print(f"Hello {first_name} {last_name}!")
greet(last_name="Smith", first_name="John")

Hello John Smith!

## Default Arguments  
You can assign default values to parameters so they become optional.

In [24]:
def greet(name="Guest"):
    print(f"Hello, {name}!")
greet()
greet("Alice")

Hello, Guest!
Hello, Alice!

## *args  
`*args` lets you pass a variable number of positional arguments into a function.

In [25]:
def add_all(*numbers):
    return sum(numbers)

print(add_all(1, 2, 3, 4))

10